<html>
    <head>
        <title>Node with Express</title>
        <link rel="stylesheet" href="/assets/styles.css">
    </head> 

<body>
    <h1>In the name of Allah, the most merciful.</h1>

</body>
</html>
