<html>
    <head>
        <link rel="stylesheet" href="/assets/styles.css">
        <title>Node with Express</title>
    </head> 

<body>
    
     <h1> User Form </h1>
     <form method="post" action="/submit">
        First Name: <input name="firstname" type="text">
        <br />
        Last Name: <input type="text" name="lastname">
        <br/>
        <button type="submit"> Submit </button>
     </form>
</body>
</html>